<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta http-equiv="refresh" content="5;url=/admin"/>
  <title>Document</title>
</head>
<style>
  .bgContainer {
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: -1;
  }

  .dataContainer {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .dataContainer h1 {
    font-size: 50px;
  }
</style>
<body>

<div class="bgContainer"></div>
<div class="dataContainer">
  <h1>Mahamane Services API</h1>
</div>

</body>
</html>
